* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

.button {
  width: 70px;
  margin: 5px auto;
}

.thead-dark {
  background-color: rgb(53, 51, 51);
  color: beige;
}

.table {
  width: 80%;
  align-self: center;
  margin: 5px auto;
}

input {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}
